body {
    background-color: #f4f6f9;
}

/* =====================
   TOP BAR
===================== */

.top-bar {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    width: 50%;
}

/* =====================
   SIDEBAR
===================== */

.sidebar {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* =====================
   TABLE
===================== */

table img {
    width: 60px;
    border-radius: 5px;
}

/* =====================
   PAGINATION
===================== */

.pagination-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =====================
   FORM
===================== */

.card {
    border-radius: 12px;
}

.card-header h4 {
    margin: 0;
}
