* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    background: #96b392;
} 

.top-bar {
    background: #141438;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTENEDOR input + boton */
.search-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* INPUT */
.top-bar input {
    width: 280px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

/* BOTON BUSCAR */
.search-box button {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background: #7391d3;
    cursor: pointer;
    white-space: nowrap;
    color:#ffffff;
}

.top-bar .btn {
    text-decoration: none;
}

.layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 20px;
    padding: 20px;
}
.sidebar {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.sidebar select {
    width: 100%;
    margin-bottom: 15px;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #55728f;
    color: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

img {
    width: 60px;
    border-radius: 6px;
}

.btn {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #7d883c;
    cursor: pointer;
    color: white;
}

.btn:hover {
    opacity: 0.85;
}

.primary {
    background: #3b8335;
    color: white;
}

.danger {
    background: #d64242;
    color: white;
}

.warning {
    background: #3f89dd;
    color: white;
}
.pagination-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
}

.form-actions {
    display: flex;
    gap: 10px;
}
header{
    background-color: #434f5c;
    color: white;
    text-align: center;
    padding: 8px;
}
.btn-volver {
    left: 75px;
    background-color: #cabe7a;
    color: rgb(26, 25, 25);
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}